import java.util.Scanner;
public class HelloWorld {
    public static void main(String[] args) 
    {
        Scanner ler = new Scanner (System.in);
        double ac1, ac2, ag, af;
        
        System.out.printf("Coloque a nota da AC1: "); 
        ac1 = ler.nextDouble();
        System.out.printf("coloque a nota da AC2: ");
        ac2 = ler.nextDouble();
        System.out.printf("Coloque a nota da AG; ");
        ag = ler.nextDouble();
        System.out.printf("Coloque a nota da AF: ");
        af = ler.nextDouble();
        double media = ((ac1 * 0.15) + (ac2 * 0.3) + (ag * 0.1) + (af * 0.45));
        System.out.printf("Media: %f",media );
        
        if(media>5)
        {
            System.out.print(voce foi aprovado);
        }
        else 
        {
        System.out.print(voce foi reprovado);
        }
    }  
}
